<footer>
  <div class="wrap">
    <img src="favicon.svg" alt="fertig" class="foot-mark" width="64" height="64">
    <div class="foot-cols">
      <div>
        <strong><svg class="icon" aria-hidden="true"><use href="icons.svg#book-open"></use></svg>Documentation</strong>
        <ul>
          <li><a href="docs.html#install">Install</a></li>
          <li><a href="docs.html#layout">Layout</a></li>
          <li><a href="components.html">Components</a></li>
          <li><a href="docs.html#tokens">Tokens</a></li>
        </ul>
      </div>
      <div>
        <strong><svg class="icon" aria-hidden="true"><use href="icons.svg#blocks"></use></svg>Examples</strong>
        <ul>
          <li><a href="blocks.html"><svg class="icon" aria-hidden="true"><use href="icons.svg#blocks"></use></svg>Blocks</a></li>
        </ul>
      </div>
      <div>
        <strong><svg class="icon" aria-hidden="true"><use href="icons.svg#package"></use></svg>Project</strong>
        <ul>
          <li><a href="https://github.com/moji2002/fertig"><svg class="icon" aria-hidden="true"><use href="icons.svg#git-branch"></use></svg>Source</a></li>
          <li><a href="https://www.npmjs.com/package/fertig">npm</a></li>
          <li><a href="https://github.com/moji2002/fertig/blob/main/CHANGELOG.md">Changelog</a></li>
          <li><a href="llms.txt">llms.txt</a></li>
        </ul>
      </div>
    </div>
    <p class="foot-note">
      <span>MIT licensed</span>
      <span>v{{ site.version }}</span>
      <span>8.6 KB gzipped</span>
      <span>No dependencies</span>
    </p>
  </div>
</footer>
